:root {
  --themeYellow: #ffbf34;
  --themeMint: #b5efb2;
  --themeGreen: #088552;
  --themeSalmon: #ed7676;
  --themeGray0: #434755;
  --themeGray1: #8d929e;
  --themeGray2: #e3e3e3;
  --themeGray4: #f0f0f0;
}